<html>
  <head>
    <title>Controle de Vencimentos - Reinicie a sua senha</title>
  </head>
  <body>
    <p>
      Olá <strong>{{user_name}}</strong>! Recebemos uma solicitação de mudança de sua senha para o sistema <strong>Controle de Vencimentos</strong>. Caso você não tenha realizado essa solicitação, contacte imediatamente o administrador do sistema.
    </p>
    <p>
      Caso sua solicitação seja legítima, segue o link para a mudança de senha:
    </p>
    <a href=`http://localhost:3001/#/forget_password/{{user_id}}/{{reset_token}}` target="_blank">Link para mudança de senha</a>
    
    <p>
      Atenciosamente, 
    </p>
    <p>
      Compet Engenharia
    </p>
  </body>
</html>